**/pkg/
**/*.pkg.tar.zst

catppuccin-alacritty/alacritty/
catppuccin-alacritty/src/alacritty/

catppuccin-bat/bat/
catppuccin-bat/src/bat/

catppuccin-bottom/bottom/
catppuccin-bottom/src/bottom/

catppuccin-btop/btop/
catppuccin-btop/src/btop/

catppuccin-cosmic-desktop/cosmic-desktop
catppuccin-cosmic-desktop/src/cosmic-desktop

catppuccin-delta/delta/
catppuccin-delta/src/delta/

catppuccin-fcitx5/fcitx5/
catppuccin-fcitx5/src/fcitx5/

catppuccin-fish/fish/
catppuccin-fish/src/fish/

catppuccin-fuzzel/fuzzel/
catppuccin-fuzzel/src/fuzzel/

catppuccin-fzf/fzf/
catppuccin-fzf/src/fzf/

catppuccin-hyprland/hyprland/
catppuccin-hyprland/src/hyprland/

catppuccin-hyprlock/hyprlock/
catppuccin-hyprlock/src/hyprlock/

catppuccin-imv/imv/
catppuccin-imv/src/imv/

catppuccin-kitty/kitty/
catppuccin-kitty/src/kitty/

catppuccin-kvantum/kvantum/
catppuccin-kvantum/src/kvantum/

catppuccin-lsd/lsd/
catppuccin-lsd/src/lsd/

catppuccin-mako/mako/
catppuccin-mako/src/mako/

catppuccin-mpv/mpv/
catppuccin-mpv/src/mpv/

catppuccin-qt5ct/qt5ct/
catppuccin-qt5ct/src/qt5ct/

catppuccin-qtcreator/qtcreator/
catppuccin-qtcreator/src/qtcreator/

catppuccin-qbittorrent/qbittorrent/
catppuccin-qbittorrent/src/qbittorrent/

catppuccin-sddm/sddm/
catppuccin-sddm/src/sddm/
catppuccin-sddm/src/theme.conf
catppuccin-sddm/src/wall.png

catppuccin-swaylock/swaylock/
catppuccin-swaylock/src/swaylock/

catppuccin-thunderbird/thunderbird/
catppuccin-thunderbird/src/thunderbird/

catppuccin-yazi/yazi/
catppuccin-yazi/src/yazi/
