pkgbase = catppuccin
	pkgdesc = catppuccin
	pkgver = 0.2.0
	pkgrel = 1
	url = https://catppuccin.com
	arch = any
	license = MIT
	makedepends = deno
	makedepends = just
	makedepends = catppuccin-whiskers-bin
	optdepends = btop-theme-catppuccin
	optdepends = catppuccin-cursors-latte
	optdepends = catppuccin-cursors-frappe
	optdepends = catppuccin-cursors-macchiato
	optdepends = catppuccin-cursors-mocha
	optdepends = catppuccin-fcitx5-git
	optdepends = catppuccin-qt5ct-git
	optdepends = kvantum-theme-catppuccin-git
	optdepends = papirus-folders-catppuccin-git
	source = git+https://github.com/catppuccin/alacritty
	source = git+https://github.com/catppuccin/bat
	source = git+https://github.com/catppuccin/bottom
	source = git+https://github.com/catppuccin/delta
	source = git+https://github.com/catppuccin/fuzzel
	source = git+https://github.com/catppuccin/fzf
	source = git+https://github.com/catppuccin/hyprland
	source = git+https://github.com/catppuccin/hyprlock
	source = git+https://github.com/catppuccin/imv
	source = git+https://github.com/catppuccin/kitty
	source = git+https://github.com/catppuccin/lsd
	source = git+https://github.com/catppuccin/mako
	source = git+https://github.com/catppuccin/mpv
	source = git+https://github.com/catppuccin/qbittorrent
	source = git+https://github.com/catppuccin/qtcreator
	source = git+https://github.com/catppuccin/thunderbird
	source = git+https://github.com/catppuccin/yazi
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = catppuccin
